.option {
  border: solid 1px #95aac9;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  color: #000 !important;
}

.option:hover {
  background: #95aac9;
}

.option.active {
  background: #95aac9;
}

.option.error {
  border: solid 2px #e40000;
  background: #fff;
}

.option.error:hover {
  background: #fff;
}

@media screen and (max-width: 768px) {
  .option:hover {
    background: #fff;
  }
}