/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Open Sans", serif;
}

body {
  background-color: #e1e3e8;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  /* Elimina el contorno predeterminado */
}

/* Eliminar sombreado de texto para todos los elementos */
::selection {
  background: transparent;
  /* Hace que el fondo sea transparente */
  color: inherit;
  /* Mantiene el color del texto igual */
}