<div class="card-question">
  <div class="header-questions">
    <div class="header-title">
      <img src="assets/p.png" alt="Privex Aviation" class="icon" />
      <span>Trivia Privex Aviation</span>
    </div>
    <div class="header-subtitle">
      <span>Pregunta {{indexQuestion()+1}}/10</span>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <h3>{{currentQuestion()?.question}}</h3>
    </div>
    <div class="options">
      <app-option-question [option]="currentQuestion()?.options?.[0]" />
      <app-option-question [option]="currentQuestion()?.options?.[1]" />
      <app-option-question [option]="currentQuestion()?.options?.[2]" />
      <app-option-question [option]="currentQuestion()?.options?.[3]" />
    </div>
  </div>
</div>